*.pidb
*.userprefs
!xcuserdata
*.swp
*.DS_Store
*.nib
*/bin/*
*/obj/*
*/*/bin/*
*/*/obj/*
**/*.hmap
**/*.a
**/*.so
native.iOS/src/tld-canon.h
native.iOS/build
native.Android/src/tld-canon.h
native.Android/jni/*.h
native.Android/jni/*.c

