*.pidb
*.userprefs
!xcuserdata
*.swp
*.DS_Store
*.nib
*/bin/*
*/obj/*
*/*/bin/*
*/*/obj/*
**/*.hmap
**/*.LinkFileList
**/*.a
**/*.so
bin/*
NachoClient.iOS/Info.plist.rewritten
native.iOS/src/tld-canon.h
native.iOS/build
native.Mac/src/tld-canon.h
native.Mac/build
native.Android/src/tld-canon.h
native.Android/jni/*.h
native.Android/jni/*.c
NachoClient.iOS/UploadDSym/nachomail/build
NachoClient.*/.build_number*
NachoClientShare.iOS*/.build_number*
Test.*/.build_number
NachoClient.*/BuildInfo.cs
NachoClientShare.iOS*/BuildInfo.cs
NachoClient.*/LogSettings.cs
NachoClient.*/.skip_hockeyapp_upload
*.pyc
NachoClient.Android/Resources/Resource.designer.cs
Test.Android/Resources/Resource.designer.cs
.idea/*
