<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iOS</key>
	<dict>
		<key>DisplayName</key>
		<string>Nacho Beta</string>
		<key>BundleId</key>
		<string>com.nachocove.nachomail.beta</string>
		<key>IconSet</key>
		<string>Resources/Images.xcassets/AppIconBeta.appiconset</string>
		<key>AppGroup</key>
		<string>group.com.nachocove.nachomail.beta</string>
		<key>iCloudContainer</key>
		<string>iCloud.com.nachocove.nachomail.beta</string>
		<key>ShareBundleId</key>
		<string>com.nachocove.nachomail.beta.share</string>
		<key>CallerIdBundleId</key>
		<string>com.nachocove.nachomail.beta.callerid</string>
		<key>HockeyAppAppId</key>
		<string></string>
		<key>FileSharingEnabled</key>
		<false/>
	</dict>
	<key>Android</key>
	<dict>
		<key>PackageName</key>
		<string>com.nachocove.nachomail.beta</string>
		<key>IconDrawable</key>
		<string>IconBeta</string>
		<key>RoundIconDrawable</key>
		<string>IconBetaRounded</string>
		<key>AppNameString</key>
		<string>app_name_beta</string>
		<key>BackupAPIKey</key>
		<string></string>
		<key>FileProvider</key>
		<string>com.nachocove.fileprovider</string>
		<key>HockeyAppAppId</key>
		<string></string>
		<key>SigningKeystore</key>
		<string>com.nachocove.nachomail.beta</string>
	</dict>
	<key>AWS</key>
	<dict>
		<key>Prefix</key>
		<string>beta</string>
		<key>AccountId</key>
		<string>940122728040</string>
		<key>IdentityPoolId</key>
		<string>us-east-1:fa0b6549-5002-4d26-8d3a-1d4874262f64</string>
		<key>UnauthRoleArn</key>
		<string>arn:aws:iam::940122728040:role/Cognito_com_nachocove_nachomail_beta_Unauth_Role</string>
		<key>AuthRoleArn</key>
		<string>NO PUBLIC AUTHENTICATION</string>
		<key>S3Bucket</key>
		<string>3ca28b5e-beta-t3-</string>
		<key>SupportS3Bucket</key>
		<string>3ca28b5e-beta-t3-trouble-tickets</string>
	</dict>
	<key>Pinger</key>
	<dict>
		<key>Hostname</key>
		<string>ec2-54-193-95-54.us-west-1.compute.amazonaws.com:8443</string>
		<key>RootCert</key>
		<string>-----BEGIN CERTIFICATE-----
MIIDfjCCAmagAwIBAgIBATANBgkqhkiG9w0BAQsFADBkMRgwFgYDVQQDDA9OYWNo
byBDb3ZlIFJvb3QxFzAVBgNVBAoMDk5hY2hvIENvdmUgSW5jMQswCQYDVQQGEwJV
UzEiMCAGCSqGSIb3DQEJARYTb3dlbnNAbmFjaG9jb3ZlLmNvbTAeFw0xNzA4MDUw
MjMyNTZaFw0xODA4MDUwMjMyNTZaMGQxGDAWBgNVBAMMD05hY2hvIENvdmUgUm9v
dDEXMBUGA1UECgwOTmFjaG8gQ292ZSBJbmMxCzAJBgNVBAYTAlVTMSIwIAYJKoZI
hvcNAQkBFhNvd2Vuc0BuYWNob2NvdmUuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOC
AQ8AMIIBCgKCAQEAmSmohCUrcsnnE2bHnwc+Ujdatbjtj+08bxhFxcixV6r983Md
Ja1AzY2QprH1BEBKNLAgdWfgdeq46w5csHBeWcr+XIdicGZYa1cS1DzMh5Byypo6
EDzrkzPMixIK8CMNd6meIOyfmyb5FRar9JvHCpx5ywLePusaKPUB4VWmMTAtWelL
eY9/CdmMMNyMKMpmtd+MxHzT3yVFu/HvYTrnpSqe/R3/w6kebRxm11WaSPTYDquK
M+Ym48CTO2vUuQ7b6qGK60HMdKK24yFZ3hFYWZqku6JwI6ENu5yquwo19oYlw4v9
TZtAaxeC5y2lrtXDS+zS2rv7uKHK3IV/ge0a8wIDAQABozswOTAPBgNVHRMBAf8E
BTADAQH/MA4GA1UdDwEB/wQEAwIChDAWBgNVHSUBAf8EDDAKBggrBgEFBQcDATAN
BgkqhkiG9w0BAQsFAAOCAQEAFbu/OYdggsMnrXYWGaXQEQmzPcYy3mbHgbtsuFFh
JpXgKLz+7P0HfdDVsok7ObZBjM8BV0FVukqrJAtZiGyguAOl2JwiUOfqvfh1AmBK
U+HqO9HDSqdnsHs50amS1cuBO63ynbCq8y6GBPnHrovQFa1lr0KBPifGtMwPXpgS
1OtvrP7xhPWpZ3phC34VJ1xd5XFe11h6Udrki6uKJkkwWT+OG/xk3qoZWgV3NWwp
Mst2gjfO3FziN6T1fwyY9ltYzmpEvq6WeGbp3q+WSONFwgXmW4X7xYH8/OaEvE80
6KI9rNn4wPuYR4DQgUwmLF/6Ao0F3ql3FuvBue7W3Rfa4w==
-----END CERTIFICATE-----</string>
		<key>CrlSigningCerts</key>
		<array>
		</array>
	</dict>
</dict>
</plist>
