<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IsDevelopment</key>
	<true/>
	<key>iOS</key>
	<dict>
		<key>DisplayName</key>
		<string>Nacho Dev</string>
		<key>BundleId</key>
		<string>com.nachocove.nachomail</string>
		<key>IconSet</key>
		<string>Resources/Images.xcassets/AppIcon.appiconset</string>
		<key>AppGroup</key>
		<string>group.com.nachocove.nachomail</string>
		<key>iCloudContainer</key>
		<string>iCloud.com.nachocove.nachomail</string>
		<key>ShareBundleId</key>
		<string>com.nachocove.nachomail.share</string>
		<key>CallerIdBundleId</key>
		<string>com.nachocove.nachomail.callerid</string>
		<key>HockeyAppId</key>
		<string></string>
		<key>FileSharingEnabled</key>
		<true/>
	</dict>
	<key>Android</key>
	<dict>
		<key>PackageName</key>
		<string>com.nachocove.nachomail.dev</string>
		<key>IconDrawable</key>
		<string>Icon</string>
		<key>RoundIconDrawable</key>
		<string>IconRounded</string>
		<key>AppNameString</key>
		<string>app_name_dev</string>
		<key>BackupAPIKey</key>
		<string></string>
		<key>FileProvider</key>
		<string>com.nachocove.dev.fileprovider</string>
		<key>HockeyAppId</key>
		<string></string>
	</dict>
	<key>AWS</key>
	<dict>
		<key>Prefix</key>
		<string>dev</string>
		<key>AccountId</key>
		<string></string>
		<key>IdentityPoolId</key>
		<string></string>
		<key>UnauthRoleArn</key>
		<string></string>
		<key>AuthRoleArn</key>
		<string></string>
		<key>S3Bucket</key>
		<string></string>
		<key>SupportS3Bucket</key>
		<string></string>
	</dict>
	<key>Pinger</key>
	<dict>
		<key>Hostname</key>
		<string>ec2-54-193-95-54.us-west-1.compute.amazonaws.com:8443</string>
		<key>RootCert</key>
		<string>-----BEGIN CERTIFICATE-----
MIIDszCCApugAwIBAgIBATANBgkqhkiG9w0BAQsFADCBhjE5MDcGA1UEAwwwZWMy
LTU0LTE5My05NS01NC51cy13ZXN0LTEuY29tcHV0ZS5hbWF6b25hd3MuY29tMRgw
FgYDVQQKDA9OYWNobyBDb3ZlIEluYy4xCzAJBgNVBAYTAlVTMSIwIAYJKoZIhvcN
AQkBFhNvd2Vuc0BuYWNob2NvdmUuY29tMB4XDTE3MDgwNDA0MzU0OFoXDTE4MDgw
NDA0MzU0OFowgYYxOTA3BgNVBAMMMGVjMi01NC0xOTMtOTUtNTQudXMtd2VzdC0x
LmNvbXB1dGUuYW1hem9uYXdzLmNvbTEYMBYGA1UECgwPTmFjaG8gQ292ZSBJbmMu
MQswCQYDVQQGEwJVUzEiMCAGCSqGSIb3DQEJARYTb3dlbnNAbmFjaG9jb3ZlLmNv
bTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANF0snkgAzBtMtj+RYr7
LJV65CCIf9Z5bt/ZVGnhE/+25YcagCtdjKMCaqQ9UO7ABuhYYeRSEdazeAbRSgkn
b5wHemapmmcwxUxQLqzMVEb3BHVsIuY6eQBZ0LGWNcbL8enncGLwHzXvsTySJawV
KfV5wAPCXNyYh2ks0XGXkNZWT9x2HffVdpqsezbtcW8UOtuSPoXk6mmMqf9vgsct
FaoED//rPcW4LySlXBWwcZF2DhIBievPCtBWlqa9FTdYgTAH60/nLHo0AQsJgS0/
Y65j8d4d1vQ4q7m8OjDNv8xDwjyAXAcFipA85+8Uju79UbzHZTlW2LeFN2bY1mk/
M88CAwEAAaMqMCgwDgYDVR0PAQH/BAQDAgeAMBYGA1UdJQEB/wQMMAoGCCsGAQUF
BwMBMA0GCSqGSIb3DQEBCwUAA4IBAQB1Ztb5SUNpu7nEl6HruZXPrm7h9jMU0MHU
ZCa7hWQ2SJnfjUWks0xhj+Cb5bGSMyMXSBmmRjEXqK3BY1rizRB9ZoDk8QkqcvTV
ksluVbbjMkNq3c8oTonfLx1V7ruKx+ye78QDMYb6MkNaqgxk2dhKVdR6yGd7EOkD
Kt5aW02lnDsXgUixQPZaGuM2DNYUi8v+/5ZsFCJdV+KpstFH1DkiGIMFQG1GGm9x
fYJupPXy0MpQMd/nV6eEryr3zVhTRFOmRdWe4qM3KLbHWMnA3XbZ47+nSuzy9Db0
CEjnRu2EfSIym1c7BJHGrgiOfeleKadOFF7o+c8P5IG92/4C3D/C
-----END CERTIFICATE-----</string>
		<key>CrlSigningCerts</key>
		<array>
		</array>
	</dict>
</dict>
</plist>
