<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IsDevelopment</key>
	<true/>
	<key>iOS</key>
	<dict>
		<key>DisplayName</key>
		<string>Nacho Dev</string>
		<key>BundleId</key>
		<string>com.nachocove.nachomail</string>
		<key>IconSet</key>
		<string>Resources/Images.xcassets/AppIcon.appiconset</string>
		<key>AppGroup</key>
		<string>group.com.nachocove.nachomail</string>
		<key>iCloudContainer</key>
		<string>iCloud.com.nachocove.nachomail</string>
		<key>ShareBundleId</key>
		<string>com.nachocove.nachomail.share</string>
		<key>CallerIdBundleId</key>
		<string>com.nachocove.nachomail.callerid</string>
		<key>HockeyAppAppId</key>
		<string></string>
		<key>FileSharingEnabled</key>
		<true/>
	</dict>
	<key>Android</key>
	<dict>
		<key>PackageName</key>
		<string>com.nachocove.nachomail.dev</string>
		<key>IconDrawable</key>
		<string>Icon</string>
		<key>RoundIconDrawable</key>
		<string>IconRounded</string>
		<key>AppNameString</key>
		<string>app_name_dev</string>
		<key>BackupAPIKey</key>
		<string></string>
		<key>FileProvider</key>
		<string>com.nachocove.dev.fileprovider</string>
		<key>HockeyAppAppId</key>
		<string></string>
	</dict>
	<key>AWS</key>
	<dict>
		<key>Prefix</key>
		<string>dev</string>
		<key>AccountId</key>
		<string>940122728040</string>
		<key>IdentityPoolId</key>
		<string>us-east-1:235af1d5-8f09-4fbf-ac69-fa97f0386cca</string>
		<key>UnauthRoleArn</key>
		<string>arn:aws:iam::940122728040:role/Cognito_com_nachocove_nachomail_Unauth_Role</string>
		<key>AuthRoleArn</key>
		<string>NO PUBLIC AUTHENTICATION</string>
		<key>S3Bucket</key>
		<string></string>
		<key>SupportS3Bucket</key>
		<string></string>
	</dict>
	<key>Freshdesk</key>
	<dict>
		<key>Endpoint</key>
		<string>https://support.nachocove.com</string>
		<key>ApiKey</key>
		<string>M6nnLyxB7YdFU2B5NqdS</string>
	</dict>
	<key>GitHub</key>
	<dict>
		<key>Endpoint</key>
		<string>https://api.github.com</string>
		<key>Username</key>
		<string>nacho-crashreporter</string>
		<key>ApiKey</key>
		<string>8f454708798e0eded7e711f945b5b008b7810c22</string>
	</dict>
	<key>Pinger</key>
	<dict>
		<key>Hostname</key>
		<string>ec2-54-193-95-54.us-west-1.compute.amazonaws.com:8443</string>
		<key>RootCert</key>
		<string>-----BEGIN CERTIFICATE-----
MIIDfjCCAmagAwIBAgIBATANBgkqhkiG9w0BAQsFADBkMRgwFgYDVQQDDA9OYWNo
byBDb3ZlIFJvb3QxFzAVBgNVBAoMDk5hY2hvIENvdmUgSW5jMQswCQYDVQQGEwJV
UzEiMCAGCSqGSIb3DQEJARYTb3dlbnNAbmFjaG9jb3ZlLmNvbTAeFw0xNzA4MDUw
MjMyNTZaFw0xODA4MDUwMjMyNTZaMGQxGDAWBgNVBAMMD05hY2hvIENvdmUgUm9v
dDEXMBUGA1UECgwOTmFjaG8gQ292ZSBJbmMxCzAJBgNVBAYTAlVTMSIwIAYJKoZI
hvcNAQkBFhNvd2Vuc0BuYWNob2NvdmUuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOC
AQ8AMIIBCgKCAQEAmSmohCUrcsnnE2bHnwc+Ujdatbjtj+08bxhFxcixV6r983Md
Ja1AzY2QprH1BEBKNLAgdWfgdeq46w5csHBeWcr+XIdicGZYa1cS1DzMh5Byypo6
EDzrkzPMixIK8CMNd6meIOyfmyb5FRar9JvHCpx5ywLePusaKPUB4VWmMTAtWelL
eY9/CdmMMNyMKMpmtd+MxHzT3yVFu/HvYTrnpSqe/R3/w6kebRxm11WaSPTYDquK
M+Ym48CTO2vUuQ7b6qGK60HMdKK24yFZ3hFYWZqku6JwI6ENu5yquwo19oYlw4v9
TZtAaxeC5y2lrtXDS+zS2rv7uKHK3IV/ge0a8wIDAQABozswOTAPBgNVHRMBAf8E
BTADAQH/MA4GA1UdDwEB/wQEAwIChDAWBgNVHSUBAf8EDDAKBggrBgEFBQcDATAN
BgkqhkiG9w0BAQsFAAOCAQEAFbu/OYdggsMnrXYWGaXQEQmzPcYy3mbHgbtsuFFh
JpXgKLz+7P0HfdDVsok7ObZBjM8BV0FVukqrJAtZiGyguAOl2JwiUOfqvfh1AmBK
U+HqO9HDSqdnsHs50amS1cuBO63ynbCq8y6GBPnHrovQFa1lr0KBPifGtMwPXpgS
1OtvrP7xhPWpZ3phC34VJ1xd5XFe11h6Udrki6uKJkkwWT+OG/xk3qoZWgV3NWwp
Mst2gjfO3FziN6T1fwyY9ltYzmpEvq6WeGbp3q+WSONFwgXmW4X7xYH8/OaEvE80
6KI9rNn4wPuYR4DQgUwmLF/6Ao0F3ql3FuvBue7W3Rfa4w==
-----END CERTIFICATE-----</string>
		<key>CrlSigningCerts</key>
		<array>
		</array>
	</dict>
</dict>
</plist>
