<xml namespace="Settings">
   <Status>
      <element_redaction>full</element_redaction>
      <attribute_redaction>full</attribute_redaction>
   </Status>
   <OofState>
      <element_redaction>full</element_redaction>
      <attribute_redaction>full</attribute_redaction>
   </OofState>
   <StartTime>
      <element_redaction>full</element_redaction>
      <attribute_redaction>full</attribute_redaction>
   </StartTime>
   <EndTime>
      <element_redaction>full</element_redaction>
      <attribute_redaction>full</attribute_redaction>
   </EndTime>
   <OofMessage>
      <element_redaction>none</element_redaction>
      <attribute_redaction>none</attribute_redaction>
      <AppliesToInternal>
         <element_redaction>full</element_redaction>
         <attribute_redaction>full</attribute_redaction>
      </AppliesToInternal>
      <AppliesToExternalKnown>
         <element_redaction>full</element_redaction>
         <attribute_redaction>full</attribute_redaction>
      </AppliesToExternalKnown>
      <AppliesToExternalUnknown>
         <element_redaction>full</element_redaction>
         <attribute_redaction>full</attribute_redaction>
      </AppliesToExternalUnknown>
      <Enabled>
         <element_redaction>full</element_redaction>
         <attribute_redaction>full</attribute_redaction>
      </Enabled>
      <ReplyMessage>
         <element_redaction>full</element_redaction>
         <attribute_redaction>full</attribute_redaction>
      </ReplyMessage>
      <BodyType>
         <element_redaction>full</element_redaction>
         <attribute_redaction>full</attribute_redaction>
      </BodyType>
   </OofMessage>
   <BodyType>
      <element_redaction>full</element_redaction>
      <attribute_redaction>full</attribute_redaction>
   </BodyType>
   <Password>
      <element_redaction>full</element_redaction>
      <attribute_redaction>full</attribute_redaction>
   </Password>
   <Model>
      <element_redaction>full</element_redaction>
      <attribute_redaction>full</attribute_redaction>
   </Model>
   <IMEI>
      <element_redaction>full</element_redaction>
      <attribute_redaction>full</attribute_redaction>
   </IMEI>
   <FriendlyName>
      <element_redaction>full</element_redaction>
      <attribute_redaction>full</attribute_redaction>
   </FriendlyName>
   <OS>
      <element_redaction>full</element_redaction>
      <attribute_redaction>full</attribute_redaction>
   </OS>
   <OSLanguage>
      <element_redaction>full</element_redaction>
      <attribute_redaction>full</attribute_redaction>
   </OSLanguage>
   <PhoneNumber>
      <element_redaction>full</element_redaction>
      <attribute_redaction>full</attribute_redaction>
   </PhoneNumber>
   <UserAgent>
      <element_redaction>full</element_redaction>
      <attribute_redaction>full</attribute_redaction>
   </UserAgent>
   <EnableOutboundSMS>
      <element_redaction>full</element_redaction>
      <attribute_redaction>full</attribute_redaction>
   </EnableOutboundSMS>
   <MobileOperator>
      <element_redaction>full</element_redaction>
      <attribute_redaction>full</attribute_redaction>
   </MobileOperator>
   <Accounts>
      <element_redaction>none</element_redaction>
      <attribute_redaction>none</attribute_redaction>
      <Account>
         <element_redaction>none</element_redaction>
         <attribute_redaction>none</attribute_redaction>
         <AccountId>
            <element_redaction>full</element_redaction>
            <attribute_redaction>full</attribute_redaction>
         </AccountId>
         <AccountName>
            <element_redaction>full</element_redaction>
            <attribute_redaction>full</attribute_redaction>
         </AccountName>
         <UserDisplayName>
            <element_redaction>full</element_redaction>
            <attribute_redaction>full</attribute_redaction>
         </UserDisplayName>
         <SendDisabled>
            <element_redaction>full</element_redaction>
            <attribute_redaction>full</attribute_redaction>
         </SendDisabled>
         <EmailAddresses>
            <element_redaction>none</element_redaction>
            <attribute_redaction>none</attribute_redaction>
            <SMTPAddress>
               <element_redaction>full</element_redaction>
               <attribute_redaction>full</attribute_redaction>
            </SMTPAddress>
            <PrimarySmtpAddress>
               <element_redaction>full</element_redaction>
               <attribute_redaction>full</attribute_redaction>
            </PrimarySmtpAddress>
         </EmailAddresses>
      </Account>
   </Accounts>
   <DeviceInformation>
      <element_redaction>none</element_redaction>
      <attribute_redaction>none</attribute_redaction>
      <Set>
         <element_redaction>none</element_redaction>
         <attribute_redaction>none</attribute_redaction>
         <Model>
            <element_redaction>full</element_redaction>
            <attribute_redaction>full</attribute_redaction>
         </Model>
         <IMEI>
            <element_redaction>full</element_redaction>
            <attribute_redaction>full</attribute_redaction>
         </IMEI>
         <FriendlyName>
            <element_redaction>full</element_redaction>
            <attribute_redaction>full</attribute_redaction>
         </FriendlyName>
         <OS>
            <element_redaction>full</element_redaction>
            <attribute_redaction>full</attribute_redaction>
         </OS>
         <OSLanguage>
            <element_redaction>full</element_redaction>
            <attribute_redaction>full</attribute_redaction>
         </OSLanguage>
         <PhoneNumber>
            <element_redaction>full</element_redaction>
            <attribute_redaction>full</attribute_redaction>
         </PhoneNumber>
         <UserAgent>
            <element_redaction>full</element_redaction>
            <attribute_redaction>full</attribute_redaction>
         </UserAgent>
         <EnableOutboundSMS>
            <element_redaction>full</element_redaction>
            <attribute_redaction>full</attribute_redaction>
         </EnableOutboundSMS>
         <MobileOperator>
            <element_redaction>full</element_redaction>
            <attribute_redaction>full</attribute_redaction>
         </MobileOperator>
      </Set>
   </DeviceInformation>
   <Settings>
      <element_redaction>none</element_redaction>
      <attribute_redaction>none</attribute_redaction>
      <RightsManagementInformation>
         <element_redaction>none</element_redaction>
         <attribute_redaction>none</attribute_redaction>
         <Get>
            <element_redaction>full</element_redaction>
            <attribute_redaction>full</attribute_redaction>
         </Get>
      </RightsManagementInformation>
      <Oof>
         <element_redaction>none</element_redaction>
         <attribute_redaction>none</attribute_redaction>
         <Get>
            <element_redaction>none</element_redaction>
            <attribute_redaction>none</attribute_redaction>
            <BodyType>
               <element_redaction>full</element_redaction>
               <attribute_redaction>full</attribute_redaction>
            </BodyType>
         </Get>
         <Set>
            <element_redaction>none</element_redaction>
            <attribute_redaction>none</attribute_redaction>
            <OofState>
               <element_redaction>full</element_redaction>
               <attribute_redaction>full</attribute_redaction>
            </OofState>
            <StartTime>
               <element_redaction>full</element_redaction>
               <attribute_redaction>full</attribute_redaction>
            </StartTime>
            <EndTime>
               <element_redaction>full</element_redaction>
               <attribute_redaction>full</attribute_redaction>
            </EndTime>
            <OofMessage>
               <element_redaction>none</element_redaction>
               <attribute_redaction>none</attribute_redaction>
               <AppliesToInternal>
                  <element_redaction>full</element_redaction>
                  <attribute_redaction>full</attribute_redaction>
               </AppliesToInternal>
               <AppliesToExternalKnown>
                  <element_redaction>full</element_redaction>
                  <attribute_redaction>full</attribute_redaction>
               </AppliesToExternalKnown>
               <AppliesToExternalUnknown>
                  <element_redaction>full</element_redaction>
                  <attribute_redaction>full</attribute_redaction>
               </AppliesToExternalUnknown>
               <Enabled>
                  <element_redaction>full</element_redaction>
                  <attribute_redaction>full</attribute_redaction>
               </Enabled>
               <ReplyMessage>
                  <element_redaction>full</element_redaction>
                  <attribute_redaction>full</attribute_redaction>
               </ReplyMessage>
               <BodyType>
                  <element_redaction>full</element_redaction>
                  <attribute_redaction>full</attribute_redaction>
               </BodyType>
            </OofMessage>
            <EmailAddresses>
               <element_redaction>none</element_redaction>
               <attribute_redaction>none</attribute_redaction>
               <SMTPAddress>
                  <element_redaction>full</element_redaction>
                  <attribute_redaction>full</attribute_redaction>
               </SMTPAddress>
               <PrimarySmtpAddress>
                  <element_redaction>full</element_redaction>
                  <attribute_redaction>full</attribute_redaction>
               </PrimarySmtpAddress>
            </EmailAddresses>
         </Set>
      </Oof>
      <DevicePassword>
         <element_redaction>none</element_redaction>
         <attribute_redaction>none</attribute_redaction>
         <Set>
            <element_redaction>none</element_redaction>
            <attribute_redaction>none</attribute_redaction>
            <Password>
               <element_redaction>full</element_redaction>
               <attribute_redaction>full</attribute_redaction>
            </Password>
         </Set>
      </DevicePassword>
      <DeviceInformation>
         <element_redaction>none</element_redaction>
         <attribute_redaction>none</attribute_redaction>
         <Set>
            <element_redaction>none</element_redaction>
            <attribute_redaction>none</attribute_redaction>
            <Model>
               <element_redaction>full</element_redaction>
               <attribute_redaction>full</attribute_redaction>
            </Model>
            <IMEI>
               <element_redaction>full</element_redaction>
               <attribute_redaction>full</attribute_redaction>
            </IMEI>
            <FriendlyName>
               <element_redaction>full</element_redaction>
               <attribute_redaction>full</attribute_redaction>
            </FriendlyName>
            <OS>
               <element_redaction>full</element_redaction>
               <attribute_redaction>full</attribute_redaction>
            </OS>
            <OSLanguage>
               <element_redaction>full</element_redaction>
               <attribute_redaction>full</attribute_redaction>
            </OSLanguage>
            <PhoneNumber>
               <element_redaction>full</element_redaction>
               <attribute_redaction>full</attribute_redaction>
            </PhoneNumber>
            <UserAgent>
               <element_redaction>full</element_redaction>
               <attribute_redaction>full</attribute_redaction>
            </UserAgent>
            <EnableOutboundSMS>
               <element_redaction>full</element_redaction>
               <attribute_redaction>full</attribute_redaction>
            </EnableOutboundSMS>
            <MobileOperator>
               <element_redaction>full</element_redaction>
               <attribute_redaction>full</attribute_redaction>
            </MobileOperator>
         </Set>
      </DeviceInformation>
      <UserInformation>
         <element_redaction>none</element_redaction>
         <attribute_redaction>none</attribute_redaction>
         <Get>
            <element_redaction>full</element_redaction>
            <attribute_redaction>full</attribute_redaction>
         </Get>
      </UserInformation>
   </Settings>
</xml>
